<div class="container p-4">
<h1>nioscent | projects</h1>

<div class="row p-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">nioscent.net | python version</h5>
          <p class="card-text">Our website but on python3.</p>
          <p class="card-text">Developed woth python3, flask and bootstrap. Deployed to Heroku.</p>
          <a href="https://nioscent-py.herokuapp.com/" class="btn btn-primary">Check it on Heroku</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">nioscent.net | angular version</h5>
          <p class="card-text">Our website but on Angular.</p>
          <p class="card-text">Developed with Angular...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row p-2">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weather WebApp</h5>
          <p class="card-text">A fully functional weather app.</p>
          <p class="card-text">Created with javascript, node.js and webpack. Uses the OpenWeather API.</p>
          <a href="http://weather.nioscent.net/" class="btn btn-primary">Check it out!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weather Desktop App</h5>
          <p class="card-text">A fully functional weather app ready to install.</p>
          <p class="card-text">Created with electron...</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>